
#header #logo {
    display: inline-flex;
}

.logo {
    max-height: 150px;
}
#conditions {
    background: #fff;
    background-size: cover;
    padding: 80px 0 60px 0;
}
#conditions .box {
    padding: 50px 20px;
    margin-bottom: 50px;
    text-align: center;
    border: 1px solid #e6e6e6;
    height: 200px;
    position: relative;
    background: #fafafa;
  }

  #conditions .icon {
    position: absolute;
    top: -36px;
    left: calc(50% - 36px);
    transition: 0.2s;
    border-radius: 50%;
    border: 6px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 72px;
    height: 72px;
    background: #2dc997;
  }

  #conditions .icon a {
    display: inline-block;
  }

  #conditions .icon i {
    color: #fff;
    font-size: 24px;
  }

  #conditions .box:hover .icon {
    background: #fff;
    border: 2px solid #2dc997;
  }

  #conditions .box:hover .icon i {
    color: #2dc997;
  }

  #conditions .box:hover .icon a {
    color: #2dc997;
  }

  #conditions .title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }

  #conditions .title a {
    color: #111;
  }

  #conditions .description {
    font-size: 14px;
    line-height: 24px;
  }
  
  #family-details {
    display: none;
  }

  #pregnancy-details {
    display: none;
  }

  #adjustment-details {
    display: none;
  }

  #techniques {
    text-align: center;
  }

  .portfolio-description li {
    font-size: 16px;
    font-weight: 700;
  }

  #logo h4 {
    font-family: 'Architects Daughter', cursive;
  }

  #hero h1 {
    font-family: 'Architects Daughter', cursive;
  }

  #hero h2 {
    font-family: 'Hind Madurai', sans-serif;
  }

 